* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #0e0e0e;
   min-width: 100vw;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 800px) {
   .container img {
      overflow: hidden;
      width: 100%;
   }
}
